@import "utils/_smart-grid";
@import "utils/mixins";
@import "utils/vars";

.about {
	position   : relative;
	z-index    : -1;
	overflow   : hidden;
	display    : flex;
	background : url("/assets/img/aboutUs/bg.jpg") center/cover no-repeat;

	&::before {
		content    : "";
		position   : absolute;
		background : #1E927E;
		//background : url("/assets/img/aboutUs/bg-2.jpg") center/cover no-repeat;
		top        : 0;
		bottom     : 0;
		right      : 0;
		left       : 0;
		opacity    : 0.7;
	}

	.wrapper {
		padding         : 170px 0 130px 15vw;
		width           : 876px;
		margin          : 0 136px 0 auto;
		max-width       : 877px;
		position        : relative;
		background      : rgba(0, 0, 0, 0.2);
		text-align      : left;
		display         : flex;
		align-items     : center;
		justify-content : center;

		&::after {
			content    : "";
			position   : absolute;
			z-index    : 0;
			width      : 100%;
			height     : 288px;
			bottom     : 0;
			left       : 0;
			background : url("/assets/img/aboutUs/logo.png") center/cover no-repeat;
		}
	}

	&__inner {
		max-width : 481px;
		width     : 70%;
	}

	&__img {
		position : absolute;
		left     : -20%;
		top      : 15%;
		width    : 382px;
		height   : 573px;
		z-index  : 10;
	}

	.title {
		margin-bottom : 50px;
		place-self    : self-start;
	}

	.text {
		font-family : "CandaraLight";

		&:not(:last-of-type) {
			margin-bottom : 33px;
		}
	}

	@media (max-width : 890px) {
		.wrapper {
			margin  : 0 0 0 65px;
			padding : 100px 23px 66px 20vw;

			&::after {
				height : 240px;
			}
		}
		&__img {
			height : 492px;
			left   : -30%;
		}
	}

	@media (max-width : $smTableWidth) {
		&__img {
			left : -50%;
		}
		.wrapper {
			padding-left : 30vw;

			&::after {
				height : 185px;
				bottom : 0;
				left   : 0;
			}
		}
	}

	@media (max-width : $phoneWidth) {
		&__img {
			left : -70%;
		}
		&__inner {
			width   : 205px;
			padding : 0 5px 0 0;
		}

		.wrapper {
			padding-left : 25vw;

			&::after {
				height : 14%;
			}
		}
	}

	@media (max-width : 375px) {
		.wrapper {
			padding-left : 13vw;
		}
		.about__img {
			left: -80%;
		}
	}
}