@import "utils/_smart-grid";
@import "utils/mixins";
@import "utils/vars";

.brands {
	padding : 70px 12px 0;

	&__title {
		text-align    : center;
		color         : #000;
		font-size     : 18px;
	}

	&__row {
		justify-content : center;
		align-items     : center;
		flex-wrap       : wrap;
		position        : relative;
		bottom          : -50px;

		filter          : drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.2));
	}

	&__logo {
		width           : 146px;
		height          : 146px;
		display         : flex;
		justify-content : center;
		align-items     : center;

		&:nth-of-type(1) {
			background : $primary-color;
		}

		&:nth-of-type(2) {
			background : $orange-color;
		}

		&:nth-of-type(3) {
			background : $yellow-color;
		}

		&:nth-of-type(4) {
			background : $brand-red;
		}

		&:nth-of-type(5) {
			background : $brand-green;
		}

		&:nth-of-type(6) {
			background : $brand-orange;
		}

		&:nth-of-type(7) {
			background : $brand-brown;
		}

		&:nth-of-type(8) {
			background : $brand-blue;
		}
	}
}