@import "utils/_smart-grid";

.header {
  position: relative;
  height: 660px;
  box-shadow: -20px 4px 40px rgba(0, 0, 0, 0.25);
  background: rgb(30,146,112);
  background: radial-gradient(circle, rgba(30,146,112,1) 0%, rgba(149,199,192,1) 0%, rgba(30,146,126,1) 31%);

  &-img {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 10%;
    background: url("/assets/img/header/1.png")50% 50%/contain no-repeat;
  }
}
