@import "utils/_smart-grid";
@import "utils/mixins";
@import "utils/vars";

.header {
	position: relative;
	z-index: 10;
	padding: 0 0 90px 0;
	box-shadow: -20px 4px 40px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	background: rgb(30, 146, 112) url("/assets/img/header/Ellipse.png")50% 50%/cover no-repeat;
	@media (max-width: 768px) {
		background-position: 80% 50%;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 30%;
		transform: rotate(123deg);
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		filter: blur(30px);

		@media (max-width: 1350px) {
			left: 34%;
			transform: rotate(114deg);
		}
		@media (max-width: 1200px) {
			left: 39%;
			transform: rotate(106deg);
		}
		@media (max-width: 1024px) {
			left: 47%;
			transform: rotate(114deg);
		}
		@media (max-width: 992px) {
			display: none;
		}
	}

	&::before {
		content: "";
		width: 30%;
		position: absolute;
		height: 100%;
		background: $orange-color;
		top: -50%;
		left: 60%;
		bottom: 0;
		right: 0;
		transform: rotate(
				324deg);
		display: block;
		@media (max-width: 992px) {
			display: none;
		}
	}

	.wrapper {
		margin-left: 12.5%;
		z-index: 10;
		position: inherit;

		@media (max-width: 768px) {
			margin: 0 auto;
			padding: 23px;
		}
	}

	&-img {
		position: absolute;
		top: 10%;
		left: 0;
		right: 0;
		bottom: 10%;
		background: url("/assets/img/header/1.png") 50% 50%/contain no-repeat;
		@media (max-width: 992px) {
			background-size: cover;
		}
	}

	&-top {
		display: flex;
	}

	.logo {
		background: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: -20px 4px 40px rgba(0, 0, 0, 0.25);
		padding: 30px 15px 20px;

		position: relative;
		z-index: 20;

		@media (max-width: 768px) {
			& > img {
				max-height: 100%;
				object-fit: scale-down;
			}
		}
	}

	.logo-wrapper {
		position: relative;

		@media (max-width: 768px) {
			max-width: 20vw;
			max-height: 20vw;
			min-height: 101px;
			min-width: 118px;
		}
	}

	.circle {
		position: absolute;
		width: 161px;
		height: 161px;
		border-radius: 100%;
		left: -20%;
		bottom: -35px;
		display: block;
		z-index: 1;
		background: $orange-color;

		@media (max-width: 768px) {
			width: 20vw;
			height: 20vw;
			max-height: 100px;
			max-width: 100px;
			bottom: -50%;
			transform: translateY(-30%);
		}

		@media (max-width: 420px) {
			width: 87px;
			height: 87px;
		}
	}

	&__title {
		margin-top: rem(75);
		max-width: 425px;
		line-height: 1.2;

		span {
			color: #5DCCB8;
		}
	}

	.subtitle {
		margin-top: rem(36);
		font-size: calc(20px + 4 * (100vw - 375px) / (1440 - 375));

		&-with-badge {
			height: 49px;
			background: #1E927E;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;

			color: #5DCCB8;

			-webkit-clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);

			@media (max-width: 992px) {
				background: transparent;
				clip-path: none;
				margin-top: 30px;
			}
		}
	}

	&__btn {
		margin-top: rem(30);
		background: $orange-color;
	}

	.slider-wrapper {
		position: absolute;
		right: 0;
		bottom: 0;
		overflow: hidden;
		z-index: 5;
		clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);

		@media (max-width: 1350px) {
			clip-path: polygon(50% 0, 100% 0, 100% 100%, 14% 100%);

			.slider-img {
				right: -120px;
			}
		}
		@media (max-width: 1200px) {
			clip-path: polygon(60% 0, 100% 0, 100% 100%, 25% 100%);
		}
		@media (max-width: 1095px) {
			clip-path: polygon(60% 0, 100% 0, 100% 100%, 35% 100%);
		}
		@media (max-width: 1024px) {
			clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
			.slider-img {
				right: -120px;
			}
		}
		@media (max-width: 992px) {
			display: none;
		}
	}
}

.header-contacts {
	margin: rem(50) 0 0 rem(66);

	&__item {
		margin: 0 0 rem(16) 0;
	}

	&__item a,
	&__item span {
		display: inline-flex;
		margin: 0 0 0 rem(32);
		color: $default-color;
	}

	.tel {
		font-size: calc(18px + 6 * (100vw - 375px) / (1440 - 375));
	}

	.time {
		font-size: calc(14px + 4 * (100vw - 375px) / (1440 - 375));
	}

	@media (max-width: 768px) {
		&__item a,
		&__item span {
			margin: 0 0 0 18px;
		}
		margin: rem(24) 0 0 rem(35);
	}
}

.dots {
	display: flex;
	margin-right: rem(60);
	gap: rem(15);
	font-size: calc(0px + 24 * (100vw - 375px) / (1440 - 375));
	padding: 0 0 0 em(135, 24);
	@media (max-width: 992px) {
		display: none;
	}

	.dot {
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: $default-color;
		cursor: pointer;
		transition: background .3s ease-in-out;

		&:hover {
			background: #5DCCB8;
		}
	}

	.active {
		background: $orange-color;
	}
}
