@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_smart-grid";

.container {
	@include container;
	padding : 0;
}

.title {
	font-size : rem(36);
}

.btn {
	box-shadow : 0 10px 20px rgba(0, 0, 0, 0.25);

	padding    : 12px 25px;

	font-size  : rem(20);
	text-align : center;
	color      : #FFF;
	cursor     : pointer;
	transition : background-color .3s ease-in-out, box-shadow .3s ease-in-out;

	&:hover {
		background : #5DCCB8;
		box-shadow : 0 10px 20px rgba(0, 0, 0, 0.25);
	}

	&:active {
		background : #1E927E;
		box-shadow : inset 0 4px 10px rgba(0, 0, 0, 0.25);
	}
}

.row {
	display   : flex;
	flex-wrap : wrap;
}

.column {
	text-align : center;
}

@import "header";
@import "advantages";
@import "master";
@import "payment";
@import "brands";




