@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_smart-grid";

.container {
	@include container;
	padding : 0;
}

.title {
	font-size : rem(36);
}

.btn {
	box-shadow : 0 10px 20px rgba(0, 0, 0, 0.25);

	padding    : 12px 25px;

	font-size  : rem(20);
	text-align : center;
	color      : #FFF;
	cursor     : pointer;
	transition : background-color .3s ease-in-out, box-shadow .3s ease-in-out;

	&:hover {
		background : #5DCCB8;
		box-shadow : 0 10px 20px rgba(0, 0, 0, 0.25);
	}

	&:active {
		background : #1E927E;
		box-shadow : inset 0 4px 10px rgba(0, 0, 0, 0.25);
	}
}

.row {
	display   : flex;
	flex-wrap : wrap;
}

.column {
	text-align : center;
}

.text-candara {
	font-size   : clamp(20px, 2vw, 24px);
	font-family : "CandaraLight", Arial, sans-serif;
}

.dots {
	display      : flex;
	margin-right : rem(60);
	gap          : rem(15);

	.dot {
		display          : inline-block;
		width            : 20px;
		height           : 20px;
		border-radius    : 50%;
		background-color : $default-color;
		cursor           : pointer;
		transition       : background .3s ease-in-out;

		&:hover {
			background : #5DCCB8;
		}
	}

	.tns-nav-active {
		background : $orange-color;
	}
}

#mySlider2 {
	display  : none;
	position : relative;
	top      : -20px;
	@media (max-width : 900px) {
		display : inline-block;
	}

	& > .tns-item {
		margin : 0 -5px 0 0;
	}
}

#mySlider2-mw {
	position : relative;
	background : $orange-color;
	.slider-img {
		position : relative;
		@media (max-width: 635px) {
			-webkit-clip-path: polygon(100% 0, 100% 49%, 100% 100%, 0 100%, 0 62%, 48% 0);
			clip-path: polygon(100% 0, 100% 49%, 100% 100%, 0 100%, 0 62%, 48% 0);
			box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
		}


	/*	@media (max-width: 635px) {
			&::before {
				display: block;
				position   : absolute;
				content    : "";
				width      : 375px;
				height     : 350px;
				background : $orange-color;
				top        : -18%;
				left       : -8vw;
				transform  : rotate(123deg);
				box-shadow :inset 0px 4px 40px rgba(0, 0, 0, 0.3);
			}
		}
		@media (max-width: 480px) {
			&::before {
				left       : 1vw;
			}
		}*/
	}
}

.slider dots {
	display : none;
	@media (max-width : 900px) {
		display : block;
	}
}

.slider {
	.slider-wrapper {
		position : relative;
	}

	.dots-2 {
		width             : 80%;
		max-width         : 350px;
		position          : absolute;
		bottom            : 45px;
		left              : 0;
		z-index           : 2;
		height            : 49px;
		background        : #1E927E;
		display           : inline-flex;
		align-items       : center;
		justify-content   : space-evenly;
		-webkit-clip-path : polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
		clip-path         : polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
	}
}

@import "header";
@import "advantages";
@import "master";
@import "payment";
@import "brands";
@import "about";
@import "why";
@import "feedback";
@import "footer";




