@import "utils/_smart-grid";
@import "utils/mixins";
@import "utils/vars";

.master {
	overflow: hidden;
	position: relative;
	padding: 50px 15px 150px 0;
	z-index: 15;
	background: $primary-color url("/assets/img/master/bg.png")88% center/contain no-repeat;
	&::after {
		content: "";
		display: inline-flex;
		width: 573px;
		height: 573px;
		position: absolute;
		top: 0;
		left: -20%;
		z-index: -2;
		border-radius: 100%;
		background: radial-gradient(circle at -10% 50%, #5dccb8, #43ae9b);
		filter: blur(20px);
	}
	
	&-wrapper {
		width: 50%;
	}
	
	.title {
		text-align: right;
		max-width: 475px;
		min-width: 335px;
		margin-left: auto;
		margin-bottom: 55px;

		span {
			color: $yellow-color;
		}
	}

	.descr {
		background: $default-color;
		padding: 36px 47px 57px;
		position: relative;
	}

	.text {
		max-width: 435px;
		font-weight: 300;
		font-size: calc(20px + 4 * (100vw - 375px) / (1440 - 375));
		line-height: 40px;
		text-align: right;
		text-transform: uppercase;
		font-family: "CandaraLight", Arial sans-serif;
		color: #000000;
		margin: 0 0 0 auto;
	}

	&__button {
		position: absolute;
		background: $yellow-color;
		bottom: -28px;
		right: 47px;
	}

	@media (max-width: 980px) {
		padding: 137px 15px 107px 0;
		&-wrapper {
			width: 70%;
		}
	}

	@media (max-width: $tableWidth) {
		&::after {
			left: -50%;
		}
		&-wrapper {
			width: 100%;
		}
	}

	@media (max-width: $tableWidth) {
		background: $primary-color url("/assets/img/master/bg.png")10% center/cover no-repeat;
	}

	@media (max-width: $phoneWidth) {
		&::after {
			left: -75%;
		}
	}
}